@import "base.scss";
@import "mainpaginas.scss";
@import "sobrenosotros.scss";
@import "form.scss";
@import "mediaq.scss";

body{
    .btn-wsp{
        position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    right:25px;
    background:#0df053;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
        &:hover{
            text-decoration: none;
            color: #0df053;
            background: #fff;
            
        }
    }
    

}
header{
    nav{
        .imglogo{
            border-radius: 50%;
            width: 130px;
        }
    }
}
main{
    font-style: italic;
    font-weight: bold;
    display: block;
}

.carousel {
    margin-bottom: 4rem;
}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-item {
    height: 34rem;
}
.imgindex{
    width: 100%;
    height: 580px;
}
.imgmain{
    
    text-align: center;
    width: 98%;
    height: 150vh;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 10%;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 12px 12px; 
    grid-template-areas: 
      "a b"
      "a b"
      "a d"
      "c d"
      "c d"
      "e f"
      "e f"; 
    a{
        text-decoration: none;
        color: black;
    }  
}
.a{
    grid-area: a;
    border-radius: 3%;
    background-image: url(../imagenes/index/9.jpeg); 
    border: 3px solid;
    background-size: cover;
    background-position: center;
}
.b{
    grid-area: b;
    border-radius: 3%;
    background-image: url(../imagenes/index/24.jpeg);
    border: 3px solid;
    background-size: cover;
    background-position: center;
}
.c{
    grid-area: c;
    border-radius: 3%;
    background-image: url(../imagenes/index/5.jpeg);
    border: 3px solid;
    background-size: cover;
    background-position: center;
}
.d{
    grid-area: d;
    border-radius: 3%;
    background-image: url(../imagenes/index/33.jpeg);
    border: 3px solid;
    background-size: cover;
    background-position: center;
}
.e{
    grid-area: e;
    border-radius: 3%;
    background-image: url(../imagenes/index/3.jpeg);
    border: 3px solid;
    background-size: cover;
    background-position: center;
}
.f{
    grid-area: f;
    border-radius: 3%;
    background-image: url(../imagenes/index/18.jpeg);
    border: 3px solid;
    background-size: cover;
    background-position: center;
}
.uno{
    background-size: cover;
}
footer{
    border: 30px;  
    margin-top: 7%;
    .pwrdnuscaa{
        height: 60px;
        border-radius: 100%;
        width: 60px;
    }  
    .ul-footer{
        list-style: none;
    }  
    .enlaces-footer{
        color: #fff;
        transition: all 0.3s;
        text-decoration: none;
        &:hover{
            color: #ffc107;
        }
    }
    .iconos-redes{
         color: #ffc107;
         font-size: 35px;
        }        
    
}
        

